<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <tr>
            <td> Counter</td>
            <td>
                <input type="number" id="inputNumber" value="0">
                <input type="button" id="buttonClear" value="Clear">

            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="button" id="buttonIncCounter" value="Inc Counter">
                <input type="button" id="buttonDecCounter" value="Dec Counter">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="button" id="buttonGetCounter" value="Get Counter">
                <input type="button" id="buttonSetCounter" value="Set Counter">
            </td>
        </tr>
    </table>

    <textarea id="text1" cols="30" rows="10"></textarea>

    <script src="index.js"></script>
</body>

</html>